project:
  type: website

website:
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - href : about.qmd
        text : Information
    
format:
  html:
    theme: cosmo
    css: styles.css
    toc: true

editor: visual

