project:
  type: website

website:
  navbar:
    right:
      - href: index.qmd
        text: Home
      - href: projects.qmd
        text: Projects
      - href: Courses.qmd
        text: Courses
  page-footer:
    right: "&copy; 2025, Hilary Lin"        
    
format:
  html:
    theme: cosmo
    css: styles.css
    toc: true

editor: visual

